#cssmenu {
	height:37px;
	display:block;
	border-image:initial;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	-ms-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
	-ms-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border:1px solid #000000;
	margin:0;
	padding:0;
}

#cssmenu > ul {
	list-style-position:inside;
	list-style-type:none;
	list-style-image:initial;
	margin:0;
	padding:0;
}

#cssmenu > ul > li {
	list-style-position:inside;
	list-style-type:none;
	list-style-image:initial;
	float:left;
	display:block;
	position:relative;
	margin:0;
	padding:0;
}

#cssmenu > ul > li > a {
	outline-style:none;
	outline-color:#000000;
	outline-width:initial;
	display:block;
	position:relative;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	font-size:13px;
	line-height:100%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	text-shadow:rgba(0, 0, 0, 0.398438) 1px 1px 0px;
	padding:12px 20px 12px 20px;
}

#cssmenu > ul > li:first-child > a {
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	-ms-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	-o-border-top-right-radius:0;
	-ms-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
	-o-border-bottom-right-radius:0;
	-ms-border-bottom-right-radius:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
}

#cssmenu > ul > li > a::after {
	content:'';
	position:absolute;
	top:-1px;
	bottom:-1px;
	right:-2px;
	z-index:99;
	border-right:1px solid #000000;
}

#cssmenu ul li.has-sub:hover > a::after {
	top:0;
	bottom:0;
}

#cssmenu > ul > li.has-sub > a::before {
	content:'';
	position:absolute;
	top:18px;
	right:6px;
	border-image:initial;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #FFFFFF;
	border-bottom:5px solid transparent;
}

#cssmenu > ul > li.has-sub:hover > a::before {
	top:19px;
}

#cssmenu ul li.has-sub:hover > a {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#3F3F3F;
	border-top-color:#3F3F3F;
	border-right-color:#3F3F3F;
	border-bottom-color:#3F3F3F;
	border-left-color:#3F3F3F;
	padding-bottom:13px;
	padding-top:13px;
	top:-1px;
	z-index:999;
}

#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div {
	display:block;
}

#cssmenu ul li.has-sub > a:hover {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#3F3F3F;
	border-top-color:#3F3F3F;
	border-right-color:#3F3F3F;
	border-bottom-color:#3F3F3F;
	border-left-color:#3F3F3F;
}

#cssmenu ul li > ul, #cssmenu ul li > div {
	display:none;
	width:auto;
	position:absolute;
	top:38px;
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#3F3F3F;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	-o-border-top-left-radius:0;
	-ms-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	-o-border-top-right-radius:0;
	-ms-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	z-index:999;
	padding:10px 0px 10px 0px;
}

#cssmenu ul li > ul {
	width:200px;
}

#cssmenu ul li > ul li {
	display:block;
	list-style-position:inside;
	list-style-type:none;
	list-style-image:initial;
	position:relative;
	margin:0;
	padding:0;
}

#cssmenu ul li > ul li a {
	outline-style:none;
	outline-color:#000000;
	outline-width:initial;
	display:block;
	position:relative;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-size:10pt;
	line-height:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	text-shadow:rgba(0, 0, 0, 0.496094) 1px 1px 0px;
	margin:0;
	padding:8px 20px 8px 20px;
}

#cssmenu, #cssmenu > ul > li > ul > li a:hover {
	background-image:-webkit-linear-gradient(top, rgb(79, 189, 240) 0%, rgb(69, 178, 210) 100%);
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#000000;
}

#cssmenu {
	border-top-color:#3589A1;
	border-right-color:#3589A1;
	border-bottom-color:#3589A1;
	border-left-color:#3589A1;
}

#cssmenu > ul > li > a {
	color:#FFFFFF;
	border-right:1px solid #3589A1;
}

#cssmenu > ul > li > a::after {
	border-top-color:#6ED1FF;
	border-right-color:#6ED1FF;
	border-bottom-color:#6ED1FF;
	border-left-color:#6ED1FF;
}

#cssmenu > ul > li > a:hover {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#36ACD2;
}

