/*-------------------------
	Simple reset
--------------------------*/

* {
	margin:0;
	padding:0;
}

/*-------------------------
	General Styles
--------------------------*/

html {
	background-image:url(../img/texture_2.jpg);
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#B0B0B0;
	position:relative;
}

body {
	background-image:url(../img/texture_2.jpg);
	background-repeat-x:repeat;
	background-repeat-y:repeat;
	background-repeat:repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#000000;
	min-height:700px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-size:14px;
	line-height:1.3;
	font-family:'Segoe UI', Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline-style:none;
	outline-color:#000000;
	outline-width:initial;
	color:#54A6DE;
}

a:hover {
	text-decoration:underline;
}

section, footer {
	display:block;
}

/*PIE and SELECTORS*/

.paper {
	float:left;
	margin-top:470px;
}

.categoryPaper {
	float:left;
	margin-top:610px;
}

#pie {
	width:450px;
	margin-right:400px;
	margin-top:120px;
	float:right;
	position:absolute;
}

#pie1 {
	width:450px;
	margin-right:400px;
	margin-top:400px;
	float:right;
	position:absolute;
}

/*----------------------------
	Main Section
-----------------------------*/

#note {
	color:#666666;
	font-size:12px;
	text-align:center;
	text-shadow:rgba(255, 255, 255, 0.296875) 1px 1px 0px;
	width:400px;
	margin:0px auto 0px auto;
	padding:4px;
}

/*----------------------------
	The Footer
-----------------------------*/

footer {
	background-color:#111111;
	bottom:0;
	box-shadow:rgb(17, 17, 17) 0px -1px 2px;
	height:45px;
	left:0;
	position:fixed;
	width:100%;
	z-index:100000;
}

footer h2 {
	color:#EEEEEE;
	font-size:14px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	position:absolute;
	width:540px;
	padding:13px 0px 0px 0px;
}

footer h2 i {
	font-style:normal;
	color:#888888;
}

footer a.tzine, a.tzine:visited {
	color:#999999;
	font-size:12px;
	left:50%;
	position:absolute;
	text-decoration:none;
	top:0;
	margin:16px 0px 0px 110px;
}

footer a i {
	color:#CCCCCC;
	font-style:normal;
}

footer a i b {
	color:#C92020;
	font-weight:normal;
}

.company {
	display:none;
}

